---
import Box from "@/lit-layout-components/Box/index.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home">
  <Box borderWidth="4px"><h1>mode= {import.meta.env.MODE}</h1></Box>
  <Box padding="6px">
    <Box borderWidth="4px"><h2>h2</h2></Box>
    <Box invert padding="2px"
      ><p>
        top ipsum dolor sit amet consectetur adipisicing elit. Magni eligendi
        doloribus voluptatibus, aliquam provident accusantium soluta incidunt
        sit exercitationem illo ex excepturi consectetur porro explicabo hic
        sapiente architecto beatae eaque!
      </p>

      <Box borderWidth="var(--s00)" padding="var(--s2)"
        ><p>
          bottom ipsum dolor sit amet consectetur adipisicing elit. Magni
          eligendi doloribus voluptatibus, aliquam provident accusantium soluta
          incidunt sit exercitationem illo ex excepturi consectetur porro
          explicabo hic sapiente architecto beatae eaque!
        </p></Box
      >
    </Box>
  </Box>
</BaseLayout>
