---
import GlobalStyle from "@/styles/GlobalStyle.astro";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

// import { Cover } from "@/lit-layout-components/index.ts";

interface Props {
  pageTitle?: string;
  description?: string;
  image?: string;
  children: unknown;
}

const {
  pageTitle = "Mike Connor",
  description = "my description",
  image = "/placeholder-social.jpg",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" data-theme="light">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
    <GlobalStyle />
  </head>

  <body>

<!-- <Cover>  -->
    <Header slot="top"/>
   <div slot="middle"> <slot /></div>
    <Footer slot="bottom"/>
  <!-- </Cover> -->



  </body>
</html>
